.modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    background: #fff;
}

.ok{
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}