.modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    transition: opacity 1s;

}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
    /*transition: 1s;*/
    /*left: 0;*/
}

.modal-window > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    background: #fff;
    /*transition: width 2s, height 2s, background-color 2s, transform 2s;*/
}

.ok {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    justify-content: space-around;
    /*margin-top: 20%;*/
    align-items: center;
}

.open-modal {
    border: 2px solid blue;
    width: 50px;
    height: 30px;
    text-align: center;
    text-decoration: none;
}

.open-modal:hover {
    background: #29cadf;
    border: 2px solid white;
}

.test {
    opacity: 1;
    animation-name: test-frame;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes test-frame {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
