.modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    text-align: center;

    /*transition: width 2s, height 2s, background-color 2s, transform 2s;*/
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
    left: 0;
}

.modal-window > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    background: #fff;
}

.ok {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.open-modal {
    border: 2px solid blue;
    width: 50px;
    height: 30px;
    text-align: center;
    text-decoration: none;
}

.open-modal:hover {
    background: #29cadf;
    border: 2px solid white;
}

/*.test{*/
    /*transition-delay: 1s;*/
    /*transition: width 2s;*/

/*}*/